/*
 * Open Source Project made by Daksh (daksh7011.com)
 * Do NOT remove this excerpt even if you fork this or use it by any means.
 * This project is Licenced under GNU GENERAL PUBLIC LICENSE Version 3
 */

/*
* Global Styles */
body {
    position: relative;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    white-space: normal;
    min-height: 100vh;
}

.main-container {
    clear: both;
}

section {
    position: relative;
    padding: 4.5rem 0;
}

.container,
.container-fluid {
    position: relative;
}

audio, canvas, progress, video {
    display: inline-block;
    vertical-align: baseline;
}

video {
    max-width: 100%;
}

img {
    width: auto;
    height: auto;
    max-width: 100%;
}

iframe {
    display: block;
    width: 100%;
    border: 0;
    overflow: hidden;
}

/* Header */

.site-header {

}

.site-header .header-base {
    background: #fff;
    padding-left: 30px;
    padding-right: 30px;
}

.site-header .header-base:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: #030507;
    opacity: .12;
    transform: translateY(100%);
}

.site-header .header-brand {
    padding-top: 15px;
    padding-bottom: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

/* Site logo */
.site-logo {
    display: block;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.site-logo a {
    display: block;
}

/* Nav toggle */
.nav-toggle {
    position: relative;
    border: 0;
    border-radius: 0;
    outline: none;
    box-shadow: none;
    margin-left: auto;
    margin-right: 0;
    padding: 0;
    background: transparent;
    width: 37px;
    height: 44px;
    cursor: pointer;
}

.nav-toggle:focus {
    outline: none;
}

.nav-toggle span {
    display: block;
    position: absolute;
    right: 0;
    height: 2px;
    background: #232527;
    transition: all .3s ease, background .7s cubic-bezier(0.54, 0.18, 0.36, 0.81);
}

.nav-toggle span:nth-child(1) {
    top: 50%;
    margin-top: -10px;
    width: 100%;
}

.nav-toggle span:nth-child(2) {
    top: 50%;
    margin-top: -1px;
    width: 70%;
}

.nav-toggle span:nth-child(3) {
    top: 50%;
    margin-top: 8px;
    width: 50%;
}

.nav-toggle.open span {
    width: 100%;
}

/* Site navigation */
.site-navigation {
    display: none;
}

/* Classic navigation */
.header-classic-navigation.header-classic-mobile-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 5400;
}

.header-classic-navigation .overlay-navigation {
    display: none !important;
}

.header-classic-navigation .classic-navigation {
    padding-bottom: 15px;
    max-height: 80vh;
    overflow-y: auto;
}

.header-classic-navigation .classic-navigation nav > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style: none;
}

.classic-navigation a:not(.btn) {
    color: #232527;
}

.classic-navigation li.active a:not(.btn) {
    color: #3c55e6;
}

/* Overlay navigation */
.header-overlay-navigation .classic-navigation {
    display: none !important;
}

.header-overlay-navigation .header-base {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5400;
}

.header-overlay-navigation .overlay-navigation {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    z-index: 5399;
    visibility: hidden;
    opacity: 0;
    transition-property: opacity, visibility;
    transition-duration: .5s, 0s;
    transition-timing-function: cubic-bezier(0.54, 0.18, 0.36, 0.81);
    transition-delay: 0s, .5s;
}

.header-overlay-navigation .overlay-navigation .overlay-navigation-container {
    overflow-y: auto;
}

.header-overlay-navigation .overlay-navigation .overlay-navigation-container nav {
    padding: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.header-overlay-navigation .overlay-navigation.open {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s, 0s;
}

.header-overlay-navigation .overlay-navigation > *:not(.overlay) {
    position: relative;
    opacity: 0;
    transform: translateY(-10vh);
    transition-property: opacity, transform;
    transition-duration: .5s, .5s;
    transition-timing-function: cubic-bezier(0.54, 0.18, 0.36, 0.81);
    transition-delay: 0s, 0s;
}

.header-overlay-navigation .overlay-navigation.open > *:not(.overlay) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0s, 0s;
}

.header-overlay-navigation .overlay-navigation li {
    padding-top: .75rem;
    padding-bottom: .75rem;
}

.header-overlay-navigation .overlay-navigation a:not(.btn) {
    position: relative;
    display: table;
    color: #fff;
    line-height: 2rem;
    font-size: 1.5rem;
    font-weight: 300;
    margin-left: auto;
    margin-right: auto;
}

.header-overlay-navigation .overlay-navigation a:not(.btn):hover {
    color: rgba(255, 255, 255, .54);
}

.header-overlay-navigation .overlay-navigation a:not(.btn):before {
    content: '';
    position: absolute;
    top: 9px;
    bottom: 9px;
    left: -100px;
    right: -100px;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    transition: all .3s ease-out;
}

.header-overlay-navigation .overlay-navigation a:not(.btn):hover:before {
    border-color: #fff;
    left: -30px;
    right: -30px;
}

.header-overlay-navigation .overlay-navigation.style-dark a:not(.btn) {
    color: #030507;
}

.header-overlay-navigation .overlay-navigation.style-dark a:not(.btn):hover {
    color: rgba(3, 5, 7, .54);
}

.header-overlay-navigation .overlay-navigation.style-dark a:not(.btn):hover:before {
    border-color: #030507;
}

@media (min-width: 1200px) {

    .site-header .header-base {
        position: fixed;
        top: 0;
        left: 0;
        right: 100px;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        backface-visibility: hidden;
        z-index: 5400;
        min-height: 100px;
        padding-left: 100px;
        padding-right: 30px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .site-header .header-base:before {
        left: 100px;
    }

    .site-header .header-base:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: -1px;
        right: 0;
        width: 1px;
        background: #030507;
        opacity: .12;
        transform: translateX(100%);
    }

    .header-brand {
        min-height: 100px;
    }

    /* Classic navigation */
    .header-classic-navigation .nav-toggle {
        display: none;
    }

    .header-classic-navigation .classic-navigation {
        display: block;
        padding: 0;
    }

    .header-classic-navigation .classic-navigation {
        margin-left: auto;
        margin-right: 0;
    }

    .header-classic-navigation .classic-navigation nav > ul {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .classic-navigation a:not(.btn) {
        margin-right: .5rem;
        margin-left: .5rem;
    }

    /* Overlay navigation */
    .header-overlay-navigation .header-brand {
        width: 100%;
    }

    .header-overlay-navigation .overlay-navigation {
        padding-left: 100px;
        padding-right: 100px;
    }

}

/* Styles */
.header-base.style-light {
    background: #fff;
    color: #030507;
}

.header-base.style-light:before,
.header-base.style-light:after,
.header-base.style-light .nav-toggle span {
    background: #030507;
}

.header-base.style-light a:not(.btn) {
    color: #030507;
}

.header-base.style-dark {
    background: #030507;
    color: #fff;
}

.header-base.style-dark:before,
.header-base.style-dark:after,
.header-base.style-dark .nav-toggle span {
    background: #fff;
}

.header-base.style-dark a:not(.btn) {
    color: #fff;
}

.header-base.style-semi-light {
    background: rgba(255, 255, 255, .9);
    color: #030507;
}

.header-base.style-semi-light:before,
.header-base.style-semi-light:after,
.header-base.style-semi-light .nav-toggle span {
    background: #030507;
}

.header-base.style-semi-light a:not(.btn) {
    color: #030507;
}

.header-base.style-semi-dark {
    background: rgba(3, 5, 7, .9);
    color: #fff;
}

.header-base.style-semi-dark:before,
.header-base.style-semi-dark:after,
.header-base.style-semi-dark .nav-toggle span {
    background: #fff;
}

.header-base.style-semi-dark a:not(.btn) {
    color: #fff;
}

/* Footer */
.site-footer {
    position: relative;
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
    background-color: #fff;
}

.site-footer:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1px;
    background: #030507;
    opacity: .12;
    z-index: 1;
}

.site-footer .socials-icons {
    overflow: hidden;
    margin: 0 0 15px;
}

.site-footer .socials-icons ul {
    display: table;
    margin: 0;
}

.site-footer .socials-icons li {
    display: block;
    float: left;
    margin: 0 0 0 20px;
}

.site-footer .socials-icons li:first-child {
    margin-left: 0;
}

.site-footer .socials-icons a {
    display: block;
    margin: 0;
    font-size: 18px;
    text-align: center;
    -webkit-transition: opacity .3s ease-out;
    -moz-transition: opacity .3s ease-out;
    transition: opacity .3s ease-out;
}

.site-footer .social-icon:last-child {
    margin-right: 0;
}

.site-footer .socials-icons a,
.site-footer .socials-icons a i,
.site-footer .socials-icons a:hover,
.site-footer .socials-icons a:hover i {
    color: inherit;
}

.site-footer .socials-icons ul:hover a {
    opacity: .54;
}

.site-footer .socials-icons ul:hover a:hover {
    opacity: 1;
}

.site-footer .copyright-container {
    text-align: center;
}

@media (max-width: 1199px) {

    .site-footer.style-mobile-dark {
        background-color: transparent;
        color: #fff;
    }

    .site-footer.style-mobile-dark:before {
        background-color: #fff;
    }

}

@media (min-width: 1200px) {

    .site-footer {
        position: unset;
        padding-top: 0;
        padding-bottom: 0;
        background-color: transparent;
    }

    .site-footer:before {
        display: none;
    }

    .site-footer .socials-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        background: #fff;
        position: fixed;
        top: 100px;
        bottom: 100px;
        left: 0;
        max-width: none;
        width: 100px;
        padding: 100px 30px 30px;
        color: #030507;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        backface-visibility: hidden;
        z-index: 5400;
    }

    .site-footer .socials-container:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 1px;
        background: #030507;
        opacity: .12;
        transform: translateY(100%);
    }

    .site-footer .socials-container:after {
        content: '';
        position: absolute;
        top: 1px;
        bottom: -1px;
        right: 0;
        width: 1px;
        background: #030507;
        opacity: .12;
        transform: translateX(100%);
    }

    .site-footer .socials-icons {
        margin: 0;
    }

    .site-footer .socials-icons ul {
        margin: 0 auto;
    }

    .site-footer .socials-icons li {
        float: none;
        margin: 2rem 0 0;
    }

    .site-footer .socials-icons li:first-child {
        margin-top: 0;
    }

    .site-footer .socials-icons a {
        line-height: 1;
    }

    .socials-container.style-light {
        background: #fff;
        color: #030507;
    }

    .socials-container.style-light:before,
    .socials-container.style-light:after {
        background: #030507;
    }

    .socials-container.style-dark {
        background: #030507;
        color: #fff;
    }

    .socials-container.style-dark:before,
    .socials-container.style-dark:after {
        background: #fff;
    }

    .socials-container.style-semi-light {
        background: rgba(255, 255, 255, .9);
        color: #030507;
    }

    .socials-container.style-semi-light:before,
    .socials-container.style-semi-light:after {
        background: #030507;
    }

    .socials-container.style-semi-dark {
        background: rgba(3, 5, 7, .9);
        color: #fff;
    }

    .socials-container.style-semi-dark:before,
    .socials-container.style-semi-dark:after {
        background: #fff;
    }

    .site-footer .copyright-container {
        position: fixed;
        bottom: 25px;
        left: 200px;
        right: 25px;
        max-width: none;
        width: auto;
        color: #fff;
        text-align: right;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        backface-visibility: hidden;
    }

}

/* Preloader */
.preloader {
    background: #fff;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.preloader .loader-status {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 54px;
    height: 54px;
    margin: auto;
}

.preloader .circle-side {
    position: relative;
    width: 54px;
    height: 54px;
    -webkit-animation: circle infinite .75s linear;
    -moz-animation: circle infinite .75s linear;
    -o-animation: circle infinite .75s linear;
    animation: circle infinite .75s linear;
    border: 5px solid rgba(0, 0, 0, .27);
    border-left-color: #3c55e6;
    border-radius: 100%;
}

.preloader .circle-side {
    border-top-color: rgba(0, 0, 0, .27);
    border-right-color: rgba(0, 0, 0, .27);
    border-bottom-color: rgba(0, 0, 0, .27);
}

.preloader.preloader-dark {
    background: #030507;
}

.preloader.preloader-dark .circle-side {
    border-top-color: rgba(255, 255, 255, .27);
    border-right-color: rgba(255, 255, 255, .27);
    border-bottom-color: rgba(255, 255, 255, .27);
}

@-webkit-keyframes circle {
    0% {
        -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes circle {
    0% {
        -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-o-keyframes circle {
    0% {
        -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes circle {
    0% {
        -webkit-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        transform: rotate(0);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* Typography */
html {
    font-size: 16px;
}

body {
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-size: .875rem;
    font-weight: normal;
    line-height: 1.75rem;
    color: #232527;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Montserrat', Helvetica, sans-serif;
    color: inherit;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
}

h1, .h1 {
    font-size: 3rem;
    font-weight: 300;
    line-height: 3.75rem;
}

h2, .h2 {
    font-size: 2rem;
    font-weight: 300;
    line-height: 3rem;
}

h3, .h3 {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2.25rem;
}

h4, .h4 {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.875rem;
}

h5, .h5 {
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.875rem;
}

h6, .h6 {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.875rem;
}

/* Heading Uppercase */
.heading-uppercase {
    text-transform: uppercase;
    font-weight: 500;
}

h1.heading-uppercase,
.h1.heading-uppercase {
    letter-spacing: 4px;
    margin-right: -4px;
}

h2.heading-uppercase,
.h2.heading-uppercase {
    letter-spacing: 4px;
    margin-right: -4px;
}

h3.heading-uppercase,
.h3.heading-uppercase {
    letter-spacing: 4px;
    margin-right: -4px;
}

h4.heading-uppercase,
.h4.heading-uppercase {
    letter-spacing: 4px;
    margin-right: -4px;
}

h5.heading-uppercase,
.h5.heading-uppercase {
    font-weight: 500;
    letter-spacing: 2px;
    margin-right: -2px;
}

h6.heading-uppercase,
.h6.heading-uppercase {
    font-weight: 500;
    letter-spacing: 2px;
    margin-right: -2px;
}

p {
    margin-bottom: 1rem;
}

p.lead {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.875;
}

a {
    cursor: pointer;
    color: #3c55e6;
    text-decoration: none;
}

a:not(.btn) {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

a:hover,
a:focus {
    text-decoration: none;
    outline: 0;
    color: #3c55e6;
}

a, button {
    outline: none;
}

em {
    font-style: italic;
}

strong {
    font-weight: 700;
}

address, blockquote, dd, dl, fieldset, form, ol, p, pre, table, ul {
    margin-bottom: 1rem;
}

pre {
    margin: 0;
    padding: 9.5px;
    color: #333;
    background-color: #f7f7f7;
    border: 1px solid #e8e8e8;
    border-radius: 0px;
    text-align: left;
}

input,
select,
textarea {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

p:last-child,
ul:last-child,
ol:last-child,
pre:last-child,
table:last-child,
blockquote:last-child {
    margin-bottom: 0;
}

/* Overlays */
.global-overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.global-mask {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    transition-property: opacity, visibility;
    transition-duration: .5s, 0s;
    transition-timing-function: cubic-bezier(0.54, 0.18, 0.36, 0.81);
    transition-delay: 0s, .5s;
}

.global-mask.active {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s, 0s;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
}

.overlay-inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.overlay-inner canvas {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

/* Layout */
#home-block,
#side-block {
    position: relative;
    overflow: hidden;
}

#side-block {
    background-color: #fff;
}

/* Countdown */

.countdown {
    display: table;
}

.countdown .number {
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 4rem;
}

/* Buttons */

/* Back to top button */
#back-to-top {
    display: none;
    position: fixed;
    bottom: -100px;
    right: 25px;
    width: 50px;
    height: 50px;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(3, 5, 7, .12);
    text-align: center;
    line-height: 50px;
    color: #030507;
    z-index: 5398;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all .5s cubic-bezier(0.54, 0.18, 0.36, 0.81);
}

#back-to-top:hover {
    color: #3c55e6;
}

#back-to-top.active {
    bottom: 25px;
}

#back-to-top.style-light {
    background: #fff;
    color: #030507;
    border-color: rgba(3, 5, 7, .12);
}