/*
 * Open Source Project made by Daksh (daksh7011.com)
 * Do NOT remove this excerpt even if you fork this or use it by any means.
 * This project is Licenced under GNU GENERAL PUBLIC LICENSE Version 3
 */

/* Background colors */
.bg-primary {
    background-color: #3c55e6 !important
}

.bg-black {
    background-color: #000
}

.bg-white {
    background-color: #fff
}

.bg-transparent {
    background: transparent
}

/* Background sizes */
.bg-cover {
    background-size: cover
}

.bg-contain {
    background-size: contain
}

.bg-cover, .bg-contain {
    background-repeat: no-repeat;
    background-position: center
}

/* Background position overrides */

.bg-top-left {
    background-position: top left
}

.bg-top-center {
    background-position: top center
}

.bg-top-right {
    background-position: top right
}

.bg-center-left {
    background-position: center left
}

.bg-center {
    background-position: center
}

.bg-center-right {
    background-position: center right
}

.bg-bottom-left {
    background-position: bottom left
}

.bg-bottom-center {
    background-position: bottom center
}

.bg-bottom-right {
    background-position: bottom right
}

/* Background repeat overrides */

.bg-repeat {
    background-repeat: repeat
}

.bg-repeat-x {
    background-repeat: repeat-x
}

.bg-repeat-y {
    background-repeat: repeat-y
}

.bg-norepeat {
    background-repeat: no-repeat
}

/* Opacity definitions */
.opacity-100 {
    opacity: 1
}

.opacity-95 {
    opacity: .95
}

.opacity-90 {
    opacity: .9
}

.opacity-85 {
    opacity: .85
}

.opacity-80 {
    opacity: .8
}

.opacity-75 {
    opacity: .75
}

.opacity-70 {
    opacity: .70
}

.opacity-65 {
    opacity: .65
}

.opacity-60 {
    opacity: .60
}

.opacity-55 {
    opacity: .55
}

.opacity-50 {
    opacity: .5
}

.opacity-45 {
    opacity: .45
}

.opacity-40 {
    opacity: .4
}

.opacity-35 {
    opacity: .35
}

.opacity-30 {
    opacity: .3
}

.opacity-25 {
    opacity: .25
}

.opacity-20 {
    opacity: .2
}

.opacity-15 {
    opacity: .15
}

.opacity-10 {
    opacity: .1
}

.opacity-5 {
    opacity: .05
}

.opacity-0 {
    opacity: 0
}

/* Width Definitions */
.w--1 {
    width: 1px
}

.w--2 {
    width: 2px
}

.w--3 {
    width: 3px
}

.w--4 {
    width: 4px
}

.w--5 {
    width: 5px
}

.w--6 {
    width: 6px
}

.w--7 {
    width: 7px
}

.w--8 {
    width: 8px
}

.w--9 {
    width: 9px
}

.w--10 {
    width: 10px
}

.w--50 {
    width: 50px
}

.w--100 {
    width: 100px
}

.w--150 {
    width: 150px
}

.w--200 {
    width: 200px
}

.w--250 {
    width: 250px
}

.w--300 {
    width: 300px
}

.w--350 {
    width: 350px
}

.w--400 {
    width: 400px
}

.w--450 {
    width: 450px
}

.w--500 {
    width: 500px
}

.w--550 {
    width: 550px
}

.w--600 {
    width: 600px
}

.w--650 {
    width: 650px
}

.w--700 {
    width: 700px
}

.w--auto {
    width: auto
}

.maxw--100 {
    max-width: 100%
}

.minw--100 {
    min-width: 100px
}

.minw--200 {
    min-width: 200px
}

.minw--300 {
    min-width: 300px
}

.minw--400 {
    min-width: 400px
}

.minw--500 {
    min-width: 500px
}

.minw--600 {
    min-width: 600px
}

.minw--700 {
    min-width: 700px
}

/* Height Definitions */
.h--1 {
    height: 1px
}

.h--2 {
    height: 2px
}

.h--3 {
    height: 3px
}

.h--4 {
    height: 4px
}

.h--5 {
    height: 5px
}

.h--6 {
    height: 6px
}

.h--7 {
    height: 7px
}

.h--8 {
    height: 8px
}

.h--9 {
    height: 9px
}

.h--10 {
    height: 10px
}

.h--50 {
    height: 50px
}

.h--100 {
    height: 100px
}

.h--150 {
    height: 150px
}

.h--200 {
    height: 200px
}

.h--250 {
    height: 250px
}

.h--300 {
    height: 300px
}

.h--350 {
    height: 350px
}

.h--400 {
    height: 400px
}

.h--450 {
    height: 450px
}

.h--500 {
    height: 500px
}

.h--550 {
    height: 550px
}

.h--600 {
    height: 600px
}

.h--650 {
    height: 650px
}

.h--700 {
    height: 700px
}

.h--auto {
    height: auto
}

.maxh--100 {
    max-height: 100%
}

.minh--100 {
    min-height: 100px
}

.minh--200 {
    min-height: 200px
}

.minh--300 {
    min-height: 300px
}

.minh--400 {
    min-height: 400px
}

.minh--500 {
    min-height: 500px
}

.minh--600 {
    min-height: 600px
}

.minh--700 {
    min-height: 700px
}

.minh--800 {
    min-height: 800px
}

.fullscreen {
    min-height: 100vh
}

/* Responsive height and width*/
@media (min-width: 576px) {
    .fullscreen-sm {
        min-height: 100vh
    }
}

@media (min-width: 768px) {
    .fullscreen-md {
        min-height: 100vh
    }
}

@media (min-width: 992px) {
    .fullscreen-lg {
        min-height: 100vh
    }
}

@media (min-width: 1200px) {
    .fullscreen-xl {
        min-height: 100vh
    }
}